@charset "utf-8";
@import "~bootstrap/scss/bootstrap.scss";

body, html {
  margin: 0;
  padding: 10px;
  border: 0;
  font-family: Trebuchet MS, sans-serif;
  color: #0c0;
  min-width: 950px;
  background-color: #000;
}

a {
  color: #0c0;
  text-decoration: none;
}

a:hover {
  color: #0c0;
  text-decoration: underline;
}

div.variants {
  font-size: 30pt;
  color: #060;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

div.timer {
  font-size: 250pt;
  width: 100%;
  text-align: center;
  cursor: grab;
}

div.normal {
  color: #0c0;
}

div.alert {
  color: #f00;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

div.currentTime {
  font-size: 25pt;
  color: #666;
  width: 100%;
  text-align: right;
}

@media (min-height: 768px) {
  @media (min-width: 1500px) {
    div.variants {
      font-size: 50pt;
    }

    div.timer {
      font-size: 400pt;
    }

    div.currentTime {
      font-size: 40pt;
    }
  }
}
